{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>

</head>
<style>

</style>
<body>
  <div class="row" style="text-align:center;">
      <div class="col" > <!-- Adjust the margin as needed -->
          <form method="post">
              {% csrf_token %}
              <div class="fliterdiv">
                <select name="obd_code" class="form-group col-md-4">
                    <option value="">Select filter by</option>
                    <option value="P011">P011</option>
                    <option value="P011">P011</option>
                </select>
              </div>
              <label for="user_input">Describe the car problem:</label><br>
              <textarea id="user_input" name="user_input" rows="2" cols="50"></textarea><br><br>
              <input type="submit" value="Submit">
          </form>
      </div>
  </div>

  {% if response %}
      <div>
          <h3>Bot's Response:</h3>
          <p>{{ response }}</p>
      </div>
  {% endif %}
</body>
{% endblock %}
