{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>

</head>
<style>

</style>
<body>

  <h1 style="text-align:center; padding-top:40px;">Vehicle Station</h1>
  <h5 style="text-align:center;">For Car enthusiast and mechanics</h5>
  <h6 style="text-align:center;">We are making your job easier</h6>
  <div class="row" style="text-align:center; padding-top:60px;">
      <div class="col" > <!-- Adjust the margin as needed -->
          <form method="post" action="home">
              {% csrf_token %}
              <div class="fliterdiv">
                <select name="obd_code" class="form-group col-md-4">
                    <option value="">Select filter by</option>
                    {% for i in obd_codes %}
                    <option value="{{ i.code }}">{{i.code}},{{i.description}}</option>
                    {% endfor %}
                </select>
              </div>
              <!--<label for="user_input">Describe the car problem:</label><br>
              <textarea id="user_input" name="user_input" rows="2" cols="50"></textarea>--><br><br>
              <input class="btn-primary" type="submit" value="Submit">
          </form>
      </div>
  </div>
</body>
{% endblock %}
